.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

.nav {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  color: white;
}

.nav__brand, .nav__color {
  font-size: 5rem;
  color: green;
}

.nav__colorsecond {
  font-size: 5rem;
}

.nav__brand {
  text-decoration: none;
  color: white;
  font-style: bold;
  padding: 0 2em;
  font-family: 'Montserrat', sans-serif;
}

.nav__items .nav__item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__items, .nav__item, .nav__link {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  display: block;
  font-size: 3rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__items, .nav__item, .nav__link:hover {
  color: green;
}

.nav__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  padding: 0.55em 1em;
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 576px) {
  .nav {
    height: 4em;
  }
  .nav__button {
    top: 0;
  }
  .nav__colorsecond {
    font-size: 2rem;
  }
  .nav__brand,
  .nav__color {
    font-size: 2rem;
  }
  .nav__brand {
    font-size: 3.6rem;
    margin: 2em 0;
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-size: 1.8rem;
    display: none;
  }
}

@media (min-width: 576px) {
  .nav {
    height: 4em;
  }
  .nav__button {
    top: 0.9em;
  }
  .nav__colorsecond {
    font-size: 3rem;
  }
  .nav,
  .nav__brand,
  .nav__color {
    font-size: 3rem;
  }
  .nav__brand {
    font-size: 3.6rem;
    margin: 2em 0;
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-size: 1.8rem;
    display: none;
  }
}

@media (min-width: 768px) {
  .nav {
    height: 4em;
  }
  .nav__button {
    top: 0.2em;
    font-size: 1.5em;
  }
  .nav__colorsecond {
    font-size: 4rem;
  }
  .nav,
  .nav__brand,
  .nav__color {
    font-size: 4rem;
  }
  .nav__brand {
    font-size: 3.6rem;
    margin: 2em 0;
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-size: 1.8rem;
    display: none;
  }
}

@media (min-width: 992px) {
  .nav__button {
    display: none;
  }
  .nav__brand {
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-weight: bold;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .nav__button {
    display: none;
  }
  .nav__brand {
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-weight: bold;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1400px) {
  .nav__link {
    font-weight: bold;
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */