.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 60px;
  width: 70%;
  background-color: white;
}

.white-block-left {
  bottom: 0;
  left: -50px;
  -webkit-transform: skew(60deg);
          transform: skew(60deg);
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}

.btn-special-animation::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -10;
}

.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.shadow-bg {
  width: 100%;
  background-color: #333;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.shadow-bg .nav__items, .shadow-bg .nav__item {
  left: 0;
  z-index: -10;
  background-color: #333;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

.nav {
  z-index: 1000;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav__brand, .nav__color {
  font-size: 5rem;
  color: yellow;
}

.nav__colorsecond {
  font-size: 5rem;
}

.nav__brand {
  text-decoration: none;
  color: #eee;
  font-style: bold;
  padding: 0 2em;
  font-family: 'Montserrat', sans-serif;
}

.nav__items .nav__item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__items, .nav__item, .nav__link {
  display: none;
  list-style: none;
  text-decoration: none;
  color: #eee;
  padding: 1em 2em;
  font-size: 3rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav__items, .nav__item, .nav__link:hover {
  color: yellow;
}

.nav__button {
  color: #eee;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  padding: 0.55em 1em;
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  background-image: url(../img/work-small.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  height: 75vh;
  z-index: 0;
}

.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -10;
}

.header__heading {
  text-transform: uppercase;
  color: #eee;
  font-family: 'Roboto', sans-serif;
}

.header__btn {
  background: #eee;
  text-decoration: none;
  margin-top: 2em;
  padding: 1em 2em;
  border: none;
  border-radius: 8px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.header__btn::before {
  background-color: yellow;
}

@media (max-width: 576px) {
  .nav--active .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 5em;
    position: fixed;
    color: white;
  }
  .nav--active .nav__items, .nav--active .nav__item, .nav--active .nav__link {
    margin-top: -0.5em;
    display: block;
    font-size: 1.8rem;
  }
  .nav--active .nav__items {
    width: 100%;
  }
  .nav--active .nav__items, .nav--active .nav__item {
    top: 2em;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav--active .nav__items, .nav--active .nav__item, .nav--active .nav__link {
    padding: 0.5em 1em;
  }
  .nav {
    height: 4em;
  }
  .nav__button {
    top: 0;
  }
  .nav__colorsecond {
    font-size: 1.9rem;
  }
  .nav__brand,
  .nav__color {
    font-size: 1.9rem;
  }
  .nav__brand {
    font-size: 3.6rem;
    margin: 2em 0;
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-size: 1.8rem;
  }
  .white-block {
    position: absolute;
    height: 40px;
    width: 90%;
    background-color: white;
  }
  .white-block-left {
    bottom: 0;
    left: -50px;
    -webkit-transform: skew(60deg);
            transform: skew(60deg);
  }
}

@media (min-width: 576px) {
  .nav--active .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 4em;
    position: fixed;
    color: white;
  }
  .nav--active .nav__items, .nav--active .nav__item, .nav--active .nav__link {
    margin-top: 1em;
    display: block;
    font-size: 1.8rem;
  }
  .nav--active .nav__items {
    width: 100%;
  }
  .nav--active .nav__items, .nav--active .nav__item {
    top: 2em;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav--active .nav__items, .nav--active .nav__item, .nav--active .nav__link {
    padding: 0.5em 1em;
  }
  .nav__button {
    top: 0.9em;
  }
  .nav__colorsecond {
    font-size: 3rem;
  }
  .nav,
  .nav__brand,
  .nav__color {
    font-size: 3rem;
  }
  .nav__brand {
    font-size: 3.6rem;
    margin: 2em 0;
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-size: 1.8rem;
  }
  .white-block {
    position: absolute;
    height: 60px;
    width: 90%;
    background-color: white;
  }
  .white-block-left {
    bottom: 0;
    left: -50px;
    -webkit-transform: skew(60deg);
            transform: skew(60deg);
  }
}

@media (min-width: 768px) {
  .nav {
    height: 4em;
  }
  .nav__button {
    top: 0.2em;
    font-size: 1.5em;
  }
  .nav__colorsecond {
    font-size: 4rem;
  }
  .nav,
  .nav__brand,
  .nav__color {
    font-size: 4rem;
  }
  .nav__brand {
    font-size: 3.6rem;
    margin: 2em 0;
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-size: 1.8rem;
    display: none;
  }
  .header__btn {
    padding: 1.4em 2.2em;
  }
  .white-block {
    position: absolute;
    height: 60px;
    width: 90%;
    background-color: white;
  }
  .white-block-left {
    bottom: 0;
    left: -50px;
    -webkit-transform: skew(60deg);
            transform: skew(60deg);
  }
}

@media (min-width: 992px) {
  .nav {
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .nav__brand, .nav__color {
    font-size: 4rem;
    color: yellow;
  }
  .nav__colorsecond {
    font-size: 4rem;
  }
  .nav__brand {
    text-decoration: none;
    color: #eee;
    font-style: bold;
    padding: 0 2em;
    font-family: 'Montserrat', sans-serif;
  }
  .nav__items .nav__item {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__items, .nav__item, .nav__link {
    display: block;
    list-style: none;
    text-decoration: none;
    color: #eee;
    padding: 1em 2em;
    font-size: 3rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .nav__items, .nav__item, .nav__link:hover {
    color: yellow;
  }
  .nav__button {
    color: #eee;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    padding: 0.55em 1em;
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  .nav__button {
    display: none;
  }
  .nav__brand {
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-weight: bold;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__heading {
    font-size: 3.8rem;
  }
  .white-block {
    position: absolute;
    height: 60px;
    width: 90%;
    background-color: white;
  }
  .white-block-left {
    bottom: 0;
    left: -50px;
    -webkit-transform: skew(60deg);
            transform: skew(60deg);
  }
}

@media (min-width: 1200px) {
  .nav__button {
    display: none;
  }
  .nav__brand {
    margin-left: 1em;
    left: 0;
    font-size: 3rem;
    padding: 0;
  }
  .nav__link {
    font-weight: bold;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header {
    background-image: url("../img/work-big.jpg");
  }
}

@media (min-width: 1400px) {
  .nav__link {
    font-weight: bold;
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__heading {
    font-size: 5rem;
  }
  .header__btn {
    padding: 2em 4em;
  }
  .white-block {
    position: absolute;
    height: 60px;
    width: 80%;
    background-color: white;
  }
  .white-block-left {
    bottom: 0;
    left: -50px;
    -webkit-transform: skew(60deg);
            transform: skew(60deg);
  }
}
/*# sourceMappingURL=style.css.map */