@import './colors';
@import './components';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

.nav {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
	&__brand,
	&__color {
		font-size: 5rem;
		color: $green-color;
	}
	&__colorsecond {
		font-size: 5rem;
	}
	&__brand {
		text-decoration: none;
		color: white;
		font-style: bold;
		padding: 0 2em;
		font-family: 'Montserrat', sans-serif;
	}

	&__items &__item {
		margin: 0;
		padding: 0;
		display: flex;
	}
	&__items,
	&__item,
	&__link {
		list-style: none;
		text-decoration: none;
		color: white;
		padding: 1em 2em;
		display: block;
		font-size: 3rem;
		transition: color 0.3s;
	}
	&__items,
	&__item,
	&__link:hover {
		color: $green-color;
	}

	//button
	&__button {
		position: absolute;
		display: flex;
		top: 0;
		right: 0;
		padding: 0.55em 1em;

		font-size: 3rem;
		background: none;
		border: none;
		cursor: pointer;
	}
}

///media
@media (max-width: 576px) {
	.nav {
		height: 4em;
	}

	.nav__button {
		top: 0;
	}
	.nav__colorsecond {
		font-size: 2rem;
	}

	.nav__brand,
	.nav__color {
		font-size: 2rem;
	}

	.nav__brand {
		font-size: 3.6rem;
		margin: 2em 0;
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
		font-size: 1.8rem;
		display: none;
	}
}

@media (min-width: 576px) {
	.nav {
		height: 4em;
	}

	.nav__button {
		top: 0.9em;
	}
	.nav__colorsecond {
		font-size: 3rem;
	}

	.nav,
	.nav__brand,
	.nav__color {
		font-size: 3rem;
	}

	.nav__brand {
		font-size: 3.6rem;
		margin: 2em 0;
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
		font-size: 1.8rem;
		display: none;
	}
}
@media (min-width: 768px) {
	.nav {
		height: 4em;
	}

	.nav__button {
		top: 0.2em;
		font-size: 1.5em;
	}
	.nav__colorsecond {
		font-size: 4rem;
	}

	.nav,
	.nav__brand,
	.nav__color {
		font-size: 4rem;
	}

	.nav__brand {
		font-size: 3.6rem;
		margin: 2em 0;
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
		font-size: 1.8rem;
		display: none;
	}
}

@media (min-width: 992px) {
	.nav__button {
		display: none;
	
	}
	.nav__brand {
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
		font-weight: bold;
		font-size: 1.6rem;
		display: flex;
	}
}

@media (min-width:1200px) {
	.nav__button {
		display: none;
	
	}
	.nav__brand {
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
	font-weight: bold;
		font-size: 2rem;
		display: flex;
	}
}
@media (min-width:1400px){
	.nav__link {
		font-weight: bold;
			font-size: 2.5rem;
			display: flex;
		}
}