@import './colors';
@import './components';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
.shadow-bg {
	width: 100%;
	background-color: #333;
	transition: background-color 0.3s;
	.nav__items,
	.nav__item {
		left: 0;
		z-index: -10;
		background-color: #333;
		transition: background-color 0.3s;
	}
}
body {
	z-index: -10;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}
///nav
.nav {
	z-index: 1000;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	&__brand,
	&__color {
		font-size: 5rem;
		color: $yellow-color;
	}
	&__colorsecond {
		font-size: 5rem;
	}
	&__brand {
		text-decoration: none;
		color: $light-white;
		font-style: bold;
		padding: 0 2em;
		font-family: 'Montserrat', sans-serif;
	}

	&__items &__item {
		margin: 0;
		padding: 0;
		display: flex;
	}
	&__items,
	&__item,
	&__link {
		display: none;
		list-style: none;
		text-decoration: none;
		color: $light-white;
		padding: 1em 2em;
		font-size: 3rem;
		transition: color 0.3s;
	}
	&__items,
	&__item,
	&__link:hover {
		color: $yellow-color;
	}

	//button
	&__button {
		color: $light-white;
		position: absolute;
		display: flex;
		top: 0;
		right: 0;
		padding: 0.55em 1em;

		font-size: 3rem;
		background: none;
		border: none;
		cursor: pointer;
	}
}
///header
.header {
	background-image: url(../img/work-small.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	z-index: 0;
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -10;
	}
	&__heading {
		text-transform: uppercase;
		color: $light-white;
		font-family: 'Roboto', sans-serif;
	}
	&__btn {
		background: $light-white;
		text-decoration: none;
		margin-top: 2em;
		padding: 1em 2em;
		border: none;
		border-radius: 8px;
		color: black;
		text-transform: uppercase;
		cursor: pointer;
		&::before {
			background-color: $yellow-color;
		}
	}
}
///////section1
.dreams {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}
	&__img {
		border-radius: 7px;
		width: 100%;
		margin-bottom: 1em;
	}
	&__title {
		margin-bottom: 0.5em;
	}

	&__text {
		font-size: 1.4rem;
	}
}
//////section2
.offers {
	
	&__card {
		z-index:100;
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: $pure-white;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.offers__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.offers__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}
		&-img {
			transition: transform 1s, opacity 1s;
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			&--first {
				background-image: url("../img/pierwszy.jpg");
			}
			&--second {
				background-image: url("../img/drugi.jpg");
			}
			&--third {
				background-image: url("../img/trzeci.jpg");
			}
			&-title {
				font-size: 2.8rem;
			}
			&-info {
				position: absolute;
				bottom: 30px;
				right: 30px;
				font-size: 1.8rem;

				i {
					margin-right: 0.3em;
				}
			}
		}
		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: $dark;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;

			&-title {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 1.2em;
				font-size: 2.8rem;
			}

			&-list {
				
				margin: 0 auto;
				width: 70%;
				list-style: none;
				&-item {
					padding: 1em;
					font-size: 3rem;
					border-bottom: 1px solid $pure-white;
					&:last-child {
						border-bottom: none;
					}
					&:first-child{
						border-bottom: none;
					}
				}
			}
			&-btn {
				position: absolute;
				left: 50%;
				transform: translatex(-50%);
				bottom: 2em;
				padding: 1em;
				border-radius: 8px;
				width: 80%;
				border: none;
				background-color: $yellow-color;
				cursor: pointer;
				&::before {
					background-color: $light-white;
				}
			}
		}
	}
}

.section-heading {
	position: relative;
	margin-bottom: 2em;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: black;
}
.section-padding {
	padding: 6em 2em;
}
@media (min-width: 768px) {
	.section-heading {
		font-size: 3.6rem;
	}
	.section-padding {
		padding: 8em 2em;
	}
}
@media (min-width: 992px) {
	.section-heading {
		font-size: 4.8rem;
	}
	.section-padding {
		padding: 10em 2em;
	}
}

//Section3

@media (max-width: 767px) {
	.reviews.section-padding {
		padding: 6em 0;
	}
}

.reviews {
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px #2e2e2e2e;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.95);
		}
	}
	&__box-img {
		position: absolute;
		top: 8%;
		left: 75%;
		transform: translate(-50%, -50%);
		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	&__box-quote {
		margin-bottom: 1em;
		font-size: 3rem;
		color: $yellow-color;
	}
	&__box-text {
		margin-bottom: 1em;
		font-size: 1.4rem;
	}
}
///section4
.contact {
	position: relative;
	background-color: $light-white;
	overflow: hidden;

	.white-block-left {
		background-color: $dark;
	}
	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}
	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}
	&__form-input {
		@include contactForm;
	}
	&__form-textarea {
		@include contactForm;
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		min-height: 150px;
	}

	&__form-btn {
		align-self: flex-end;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		color: $light-white;
		border: none;
		border-radius: 8px;
		background-color: $yellow-color;
		cursor: pointer;

		&::before {
			background-color: grey;
		}
	}
}
//FOOTER
.footer {
	color: $pure-white;
	background-color: $dark;
	.wrapper {
		padding: 6em 2em 2em;
	}
	&__box {
		font-size: 1.4rem;
	}
	&__box-desktop {
		display: none;
	}
	&__box-title {
		margin-bottom: 1em;
		font-size: 3rem;
		text-transform: uppercase;
	}
	&__box-social {
		margin: 2em 0 1em;
	}
	&__box-link {
		padding: 0 0.3em;
		color: $pure-white;
		font-size: 3.6rem;
		text-decoration: none;
		transition: color .3s;

		&:first-child {
			padding-left: 0;
		}

		&:hover {
			color: $light-white;
		}
	}
	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
}

///media
@media (max-width: 576px) {
	.nav--active {
		.nav {
			flex-direction: column;
			align-items: flex-start;
			height: 5em;
			position: fixed;
			color: white;
			&__items,
			&__item,
			&__link {
				margin-top: -0.5em;
				display: block;
				font-size: 1.8rem;
			}

			&__items {
				width: 100%;
			}

			&__items,
			&__item {
				top: 2em;
				position: absolute;
				text-align: center;
				width: 100%;
				flex-direction: column;
			}

			&__items,
			&__item,
			&__link {
				padding: 0.5em 1em;
			}
		}
	}
	.nav {
		height: 4em;
	}

	.nav__button {
		top: 0;
	}
	.nav__colorsecond {
		font-size: 1.9rem;
	}

	.nav__brand,
	.nav__color {
		font-size: 1.9rem;
	}

	.nav__brand {
		font-size: 3.6rem;
		margin: 2em 0;
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
		font-size: 1.8rem;
	}
	.white-block {
		position: absolute;
		height: 40px;
		width: 90%;
		background-color: white;

		&-left {
			bottom: 0;
			left: -50px;
			transform: skew(60deg);
		}
	}
}

@media (min-width: 576px) {
	.nav--active {
		.nav {
			flex-direction: column;
			align-items: flex-start;
			height: 4em;
			position: fixed;
			color: white;
			&__items,
			&__item,
			&__link {
				margin-top: 1em;
				display: block;
				font-size: 1.8rem;
			}

			&__items {
				width: 100%;
			}

			&__items,
			&__item {
				top: 2em;
				position: absolute;
				text-align: center;
				width: 100%;
				flex-direction: column;
			}

			&__items,
			&__item,
			&__link {
				padding: 0.5em 1em;
			}
		}
	}

	.nav__button {
		top: 0.9em;
	}
	.nav__colorsecond {
		font-size: 3rem;
	}

	.nav,
	.nav__brand,
	.nav__color {
		font-size: 3rem;
	}

	.nav__brand {
		font-size: 3.6rem;
		margin: 2em 0;
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
		font-size: 1.8rem;
	}
	.white-block {
		position: absolute;
		height: 60px;
		width: 90%;
		background-color: white;

		&-left {
			bottom: 0;
			left: -50px;
			transform: skew(60deg);
		}
	}
	.dreams {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;

				&--right {
					text-align: right;
				}
			}
			&-img {
				width: 40%;

				&--right {
					order: 1;
				}
			}
		}
		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		height: 4em;
	}

	.nav__button {
		top: 0.2em;
		font-size: 1.5em;
	}
	.nav__colorsecond {
		font-size: 4rem;
	}

	.nav,
	.nav__brand,
	.nav__color {
		font-size: 4rem;
	}

	.nav__brand {
		font-size: 3.6rem;
		margin: 2em 0;
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
		font-size: 1.8rem;
		display: none;
	}
	.header {
		&__btn {
			padding: 1.4em 2.2em;
		}
	}
	.white-block {
		position: absolute;
		height: 60px;
		width: 90%;
		background-color: white;

		&-left {
			bottom: 0;
			left: -50px;
			transform: skew(60deg);
		}
	}
	.dreams {
		&__text {
			font-size: 1.8rem;
		}
	}
	.offers {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			margin: 1em;
			width: 45%;
		}
	}
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}
		&__box-desktop {
			display: block;
		}

		&__box {
			margin: 0 2em;
			width: 25%;
			&:first-child {
				width: 50%;
			}
		}
		&__box-title {
			font-size: 2.4rem;
		}
		&__box-list {
			list-style: none;
		}
		&__box-list-item {
			margin-bottom: 1em;
			a {
				color: $light-white;
				text-decoration: none;
			}
		}
	
	}
}

@media (min-width: 992px) {
	.nav {
		z-index: 1000;
		position: fixed;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
		&__brand,
		&__color {
			font-size: 4rem;
			color: $yellow-color;
		}
		&__colorsecond {
			font-size: 4rem;
		}
		&__brand {
			text-decoration: none;
			color: $light-white;
			font-style: bold;
			padding: 0 2em;
			font-family: 'Montserrat', sans-serif;
		}

		&__items &__item {
			margin: 0;
			padding: 0;
			display: flex;
		}
		&__items,
		&__item,
		&__link {
			display: block;
			list-style: none;
			text-decoration: none;
			color: $light-white;
			padding: 1em 2em;
			font-size: 3rem;
			transition: color 0.3s;
		}
		&__items,
		&__item,
		&__link:hover {
			color: $yellow-color;
		}

		//button
		&__button {
			color: $light-white;
			position: absolute;
			display: flex;
			top: 0;
			right: 0;
			padding: 0.55em 1em;

			font-size: 3rem;
			background: none;
			border: none;
			cursor: pointer;
		}
	}
	.nav__button {
		display: none;
	}
	.nav__brand {
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
		font-weight: bold;
		font-size: 1.5rem;
		display: flex;
	}
	.header {
		&__heading {
			font-size: 3.8rem;
		}
	}
	.white-block {
		position: absolute;
		height: 60px;
		width: 90%;
		background-color: white;

		&-left {
			bottom: 0;
			left: -50px;
			transform: skew(60deg);
		}
	}
	.dreams {
		&__box {
			font-size: 5rem 0;
			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}
		&__title {
			font-size: 3.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
		&__img {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 1200px) {
	.nav__button {
		display: none;
	}
	.nav__brand {
		margin-left: 1em;
		left: 0;
		font-size: 3rem;
		padding: 0;
	}
	.nav__link {
		font-weight: bold;
		font-size: 2rem;
		display: flex;
	}
	.header {
		background-image: url('../img/work-big.jpg');
	}
	.offers {
		&__card {
			width: 30%;
		}
	}
}
@media (min-width: 1400px) {
	.nav__link {
		font-weight: bold;
		font-size: 2.5rem;
		display: flex;
	}
	.header {
		&__heading {
			font-size: 5rem;
		}
		&__btn {
			padding: 2em 4em;
		}
	}
	.white-block {
		position: absolute;
		height: 60px;
		width: 80%;
		background-color: white;

		&-left {
			bottom: 0;
			left: -50px;
			transform: skew(60deg);
		}
	}
}
